@page "/OrderConfirmation"
@inject ShoppingCartService shoppingCartService
@inject OrderService orderService
@rendermode InteractiveServer

<PageTitle>Orderbekräftelse</PageTitle>

<br />

<h3>Orderbekräftelse</h3>

<br />

<p>Tack för din order, @orderService.UserInformation.FirstName!</p>

<br />
<br />

<h5><b>Leveransadress:</b></h5>

<br />

<p>@orderService.UserInformation.FirstName @orderService.UserInformation.LastName</p>
<p>@orderService.UserInformation.Address</p>
<p>@orderService.UserInformation.ZipCode</p>
<p>@orderService.UserInformation.City</p>

<br />
<br />

<h5><b>Orderdetaljer:</b></h5>

<br />

<ul>
    @foreach (var item in ShoppingCartProducts)
    {
        <li>@item.Name - @item.Qty st</li>
    }
</ul>

@code {
    public UserInformation UserInformation { get; set; } = new UserInformation();

    public List<ShoppingCartProduct> ShoppingCartProducts { get; set; } = new List<ShoppingCartProduct>();


    protected override void OnInitialized()
    {
        UserInformation = shoppingCartService.GetShippingAddress();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Hämta varukorgen från localStorage
            ShoppingCartProducts = await shoppingCartService.GetShoppingCartProducts();
            await shoppingCartService.ClearShoppingCart();
            StateHasChanged();
        }
    }
}
